@use '../../Styles/Partials/typography' as*;
@use '../../Styles/Partials/variable' as*;

.tracks {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: .5rem 1rem;
    background-color: $PatchMedium-Grey;
    border-radius: .625rem;

    &__song-name{
        font-size: .875rem;
        color: white;
    }
}