@use '../../Styles/Partials/variable' as*;

.mediaplayer {
    padding-top: 1rem;


    &__card {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: .5rem;
        border-radius: 1.25rem;
        background-color: $PatchGrey;
        height: 30vh;
        width: 100%;
    }

    &__song-div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__song-title {
        align-self: flex-start;
        font-size: 16px;
        font-weight: bold;
        color: white;
    }

    &__song-subtitle {
        align-self: flex-start;
        font-size: 12px;
        font-weight: bold;
        color: grey;
    }

    &__icon-div {
        display: flex;
        align-items: center;
    }

    &__icons {
        height: 10vw;
        width: 15vw;
        fill: white;
        stroke-width: 1px;
    }

    &__play-pause {
        height: 15vw;   
        width: 15vw;
        fill: white;
        stroke-width: 2.1875rem;
    }
}