@use '../../Styles/Partials/variable' as*;
@use '../../Styles/Partials/breakpoints' as*;

.mediaplayer {
    display: flex;
    flex-direction: column;
    height: 40vh;


    &__loading {
        color: $PatchOrange;
        font-weight: bold;
    }

    &__card {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 1.25rem;
        width: 100%;
        height: 40vh;

    }

    &__vid {
        height: 26vh;
        width: 100%;
        object-fit: cover;
        padding: 0.5rem;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    &__controls {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 12vh;
        width: 100%;
    }

    &__time-div {
        display: flex;
        justify-content: space-between;
        padding-top: .5rem;
        width: 100%;
    }

    &__time {
        font-size: .75rem;
        font-weight: bold;
        color: grey;
    }

    &__progress-bar {
        -webkit-appearance: none;
        --range-progress: 0;
        background: #ccc;
        width: 100%;
        height: .125rem;
        border-radius: .125rem;
        cursor: pointer;
        position: relative;

        &:before {
            content: '';
            height: .125rem;
            background: $PatchOrange;
            width: var(--range-progress);
            border-bottom-left-radius: 2px;
            border-top-left-radius: 2px;
            position: absolute;
            top: 0;
            left: 0;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: .5rem;
            width: .5rem;
            border-radius: 50%;
            border: none;
            background-color: $PatchOrange;
            cursor: pointer;
            position: relative;
        }

        &:active::-webkit-slider-thumb {
            transform: scale(1.2);
        }
    }


    &__song-div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__empty-alertdiv {
        box-sizing: border-box;
        padding: .5rem;
        height: 39vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: 4px solid grey;
        border-radius: 20px;
    }

    &__empty-alert-user {
        color: $PatchOrange;
        font-weight: bold;
    }

    &__empty-alert {
        text-wrap: balance;
        color: white;
        font-weight: 300;
        font-size: 1.5rem;
    }

    &__song-title {
        align-self: center;
        font-size: .9375rem;
        font-weight: bold;
        color: white;

        @include iphone12Pro {
            font-size: 1.25rem;
        }
    }

    &__song-subtitle {
        align-self: center;
        font-size: .75rem;
        font-weight: bold;
        color: grey;

        @include iphone12Pro {
            font-size: 1rem;
        }
    }

    &__icon-div {
        display: flex;
        align-items: center;

        @include iphone12Pro {
            width: 100%;
            justify-content: space-evenly;
        }
    }

    &__icons {
        height: 9vh;
        width: 100%;
        fill: $PatchOrange;
    }

    &__play-pause {
        height: 9vh;
        width: 100%;
        fill: $PatchOrange;
    }
}