@use '../../Styles/Partials/variable' as*;
@use '../../Styles/Partials/typography' as*;
@use '../../Styles/Partials/breakpoints' as*;

.editprofile {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    justify-content: space-between;
    background-color: $PatchMedium-Grey;
    overflow-x: auto;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    &__edit-div {
        background-color: $PatchMedium-Grey;
        border: 2px solid $PatchOrange;
        border-radius: 50%;
        padding: 0.5rem;
        align-self: end;
        box-sizing: border-box;
        width: 6vh;
        display: flex;
        justify-content: center;
    }

    &__edit-icon {
        margin-left: .5rem;
        cursor: pointer;
        fill: $PatchOrange;
    }

    &__edit-background {
        height: 4vh;
        text-align: center;
        box-sizing: border-box;
        padding: .375rem;
        font-size: .750rem;
        font-weight: bold;
        color: white;
        border: 1px solid $PatchOrange;
        background-color: rgba(128, 128, 128, 0.193);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__background-icon {
        margin-right: .5rem;
    }

    &__background-container {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        height: 30dvh;
        width: 100vw;
        background-color: grey;
    }

    &__header-background {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
        background-color: #191919;
        filter: blur(1.5px) brightness(50%);
    }

    &__upload-icon {
        display: flex;
        align-self: center;
        fill: white;
    }

    &__upload-input {
        display: none;
    }


    &__upload-avatar {
        z-index: 2;
    }

    &__edit-avatar-div {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $PatchOrange;
        border-radius: 50%;
    }

    &__avatar-div {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: self-end;
        height: 100%;
    }

    &__info-container {
        display: flex;
        position: absolute;
        width: 100%;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 2rem 1rem 0rem 1rem;
        align-items: center;
        height: 15dvh;
    }

    &__avatar {
        width: 5.125rem;
        height: 10vh;
        border-radius: 50px;
        object-fit: cover;
        object-position: center;
        background-color: $PatchMedium-Grey;
    }

    &__edit-avatar {
        z-index: 1;
        position: absolute;
        right: 1.35rem;
        bottom: 1.25rem;
    }

    &__user-avatar {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50px;
        object-fit: cover;
        object-position: center;
        background-color: $PatchMedium-Grey;
        filter: blur(1.5px) brightness(50%);
    }

    &__avatar-icon {
        width: 20vw;
        height: 20vw;
        border-radius: 50px;
        object-fit: cover;
        object-position: center;
        background-color: $PatchMedium-Grey;
    }

    &__edit-icon {
        position: absolute;
        top: 25px;
        left: 23px;
    }

    &__avatar-empty {
        position: relative;
        width: 20vw;
        height: 20vw;
        border: 1px solid $PatchOrange;
        border-radius: 50px;
        object-fit: cover;
        object-position: center;
        background-color: $PatchMedium-Grey;
        align-items: last baseline;
        justify-content: center;
        display: flex;
    }

    &__avatar-placeholder {
        color: $PatchOrange;
        border-radius: 24px;
    }

    &__name {
        color: white;
        font-weight: 300;
        font-size: 1.25rem;
    }

        &__username {
            font-weight: 300;
            font-size: .75rem;
            color: $PatchOrange;
            font-size: 1rem;
        }

            &__bio {
                font-weight: 300;
                color: white;
                padding: .5rem 0rem;
                letter-spacing: 0px;
                text-wrap: pretty;
                width: 100%;
                font-size: .875rem;
            }

            &__form-container {
                position: absolute;
                z-index: 0;
                top: 9rem;
                width: 100%;
                background-color: rgb(31, 31, 31);
                display: flex;
                flex-direction: column;
                padding: 1rem 1.5rem 0rem 1.5rem;
                box-sizing: border-box;
                border-top-left-radius: 1.25rem;
                border-top-right-radius: 1.25rem;
                overflow: auto;
                height: 70dvh;
            }

            &__form {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 100%;
                width: 100%;
            }

            &__input-label {
                font-weight: 300;
                color: $PatchOrange;
            }

            &__input {
                font-weight: 300;
                color: white;
                border: none;
                outline: none;
                width: 100%;
                height: 100%;
                background: none;
                border-bottom: .5px solid white;
                resize: none;

                &::placeholder {
                    font-size: 1rem;
                    font-weight: 300;
                    color: grey;
                }
            }

            &__button {
                background-color: $PatchOrange;
                color: $PatchGrey;
                font-size: 1.25rem;
                font-weight: bold;
                align-self: center;
                width: 100%;
                border: none;
                border-radius: .5rem;
                box-sizing: border-box;
                padding: 2vw;
                margin-top: 4vw;
                box-shadow: 6px 5px 8px 1px rgba(0, 0, 0, 0.3098039216);
                cursor: pointer;
            }

            &__delete-account {
                color: red;
                font-weight: 300;
                text-align: center;
            }

        }