@use '../../Styles/Partials/breakpoints' as*;
@use '../../Styles/Partials/typography' as*;
@use '../../Styles/Partials/variable' as*;


input[type='radio'] {
    display: none;
}

.reviewform {
    height: 62vh;
    display: flex;
    flex-direction: column;

    &__heading {
        text-align: center;
        text-wrap: balance;
        font-weight: 300;
        color: white;
        align-self: center;
    }

    &__error-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 44vh;
    }

    &__error-title {
        color: white;
        text-align: center;
    }

    &__displayName {
        color: $PatchOrange;
        text-transform: capitalize;
    }

    &__form {
        height: 70%;
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
    }


    &__rating {
        cursor: pointer;
    }


    &__div {
        height: 12%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__username-input {
        height: 2.5rem;
        width: 42%;
        outline: none;
        font-weight: 300;
        color: black;
        border: none;
        border-radius: 6px;
        padding-left: 0.5rem;
        margin-top: 1rem;

        &::placeholder {
            font-size: 1rem;
            font-weight: 300;
            color: grey;
        }
    }

    &__input {
        text-align: start;
        height: 8rem;
        width: 100%;
        border: none;
        border-radius: .625rem;
        box-sizing: border-box;
        margin: 1rem 0rem;
        padding: .5rem .5rem;
        outline: none;
        font-weight: 300;
        color: black;
        resize: none;

        &::placeholder {
            font-size: 1rem;
            font-weight: 300;
            color: grey;
        }
    }


    &__button {
        align-self: end;
        border-radius: .5rem;
        font-weight: bold;
        color: #191919;
        background-color: #ff7b00;
        border: none;
        padding: 0.5rem 1rem;
        box-sizing: border-box;
        box-shadow: 6px 5px 8px 1px rgba(0, 0, 0, 0.3098039216);
    }

    &__delete-button {
        border-radius: 1.25rem;
        font-weight: 300;
        color: white;
        background-color: $PatchOrange;
        border: none;
        padding: 0.25rem 1rem;
        box-sizing: border-box;
        box-shadow: 6px 5px 8px 1px rgba(0, 0, 0, 0.3098039216)
    }


    &__review-section {
        display: flex;
        flex-direction: column;
        height: 45%;

    }

    &__review-div {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        border-bottom: 1px solid $PatchGrey;
        margin-bottom: .5rem;
    }

    &__review-container {
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__user-div {
        display: flex;
        align-items: center;
        height: 10vh;
    }

    &__voltage-div {
        display: flex;
    }

    &__voltage {
        fill: $PatchOrange;
    }

    &__user-details {
        display: flex;
        flex-direction: column;
        padding-left: 4vw;
    }

    &__avatar {
        background-color: $PatchGrey;
        border-radius: 50%;
        height: 12vw;
        width: 12vw;
    }

    &__username {
        font-size: 1rem;
        color: $PatchOrange;
        font-weight: 300;
    }

    &__user-timestamp {
        font-size: .75rem;
        font-weight: bold;
        color: grey;
        padding: 0.2rem 0rem 0.5rem 0rem;
    }

    &__review {
        word-wrap: break-word;
        word-break: normal;
        text-wrap: wrap;
        font-size: .75rem;
        color: white;
        font-weight: 300;
        padding: 1rem 0rem;
    }
}