@use '../../Styles/Partials/breakpoints'as*;
@use '../../Styles/Partials/typography' as*;
@use '../../Styles/Partials/variable' as*;


input[type='radio'] {
    display: none;
}

.reviewform {
    height: 45vh;
    display: flex;
    flex-direction: column;


    &__form {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
    }


    &__rating {
        cursor: pointer;
    }


    &__div {
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    &__input {
        height: 35%;
        width: 100%;
        border: none;
        border-radius: .625rem;
        box-sizing: border-box;
        margin: 1rem 0rem;
        padding: 0rem .5rem 5rem .5rem;
        outline: none;
        &::placeholder {
            font-size: 16px;
            font-weight: 300;
            color: $PatchGrey;
        }
    }


    &__button {
        border-radius: 4px;
        align-self: end;
        height: 10%;
        width: 25%;
        border: none;
    }

}
