@font-face {
    font-family: 'worksans';
    src: url('../../Assets/Fonts/WorkSans/WorkSans-Light.ttf') format('TrueType');
    font-weight: 100;
}

@font-face {
    font-family: 'inter';
    src: url('../../Assets/Fonts/WorkSans/WorkSans-Thin.ttf') format('TrueType');
    font-weight: 200;
}

@font-face {
    font-family: 'worksans';
    src: url('../../Assets/Fonts/WorkSans/WorkSans-Regular.ttf') format('TrueType');
    font-weight: 400;
}


@font-face {
    font-family: 'inter';
    src: url('../../Assets/Fonts/WorkSans/WorkSans-SemiBold.ttf') format('TrueType');
    font-weight: bold;
}
