@use '../../Styles/Partials/variable' as*;

.booking {

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 65vh;
        width: 100%;
    }

    &__time-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 15%;
    }

    &__time-label {
        color: white;
        font-weight: 300;
        margin-top: .5rem;
    }

    &__time-label-end {
        color: $PatchOrange;
        font-weight: 300;
        margin-top: .5rem;
    }

    &__time-input {
        font-size: 1rem;
        font-weight: 300;
        color: white;
        border: none;
        outline: none;
        width: 100%;
        height: 100%;
        background: none;
        color-scheme: dark;
        border-bottom: .5px solid grey;
        &::placeholder {
            font-size: .875rem;
            font-weight: 300;
            color: white;
        }
    }

    &__input {
        font-weight: 300;
        color: white;
        border: none;
        outline: none;
        width: 100%;
        height: 10%;
        background: none;
        border-bottom: .5px solid grey;
        &::placeholder {
            font-size: 1rem;
            font-weight: 300;
            color: white;
        }
    }

    &__booking-type {
        font-size: 1rem;
        font-weight: 300;
        color: white;
        border: none;
        outline: none;
        width: 100%;
        height: 10%;
        background: none;
        border-bottom: .5px solid grey;
        -webkit-appearance: none;
        &::placeholder {
            font-size: 1rem;
            font-weight: 300;
            color: white;
        }
    }

    &__date-input {
        font-size: 1rem;
        font-weight: 300;
        color: white;
        border: none;
        outline: none;
        width: 100%;
        height: 10%;
        background: none;
        color-scheme: dark;
        border-bottom: .5px solid grey;
        &::placeholder {
            font-size: .875rem;
            font-weight: 300;
            color: white;
        }
    }

    &__region-select {
        font-size: 1rem;
        font-weight: 300;
        color: white;
        border: none;
        outline: none;
        width: 100%;
        height: 10%;
        background: none;
        border-bottom: .5px solid grey;
        -webkit-appearance: none;
        &::placeholder {
            font-size: 1rem;
            font-weight: 300;
            color: white;
        }
    }

    &__button {
        background-color: #ff7b00;
        color: #191919;
        font-size: 1.25rem;
        font-weight: bold;
        align-self: center;
        width: 100%;
        border: none;
        border-radius: .5rem;
        box-sizing: border-box;
        padding: .5rem;
        margin: 1rem 0rem;
        box-shadow: 6px 5px 8px 1px rgba(0, 0, 0, 0.3098039216);
    }
}