.signup{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
	height: 100dvh;
    backdrop-filter: blur(2px);
    background: linear-gradient(180deg, rgb(0, 0, 0), #191919);

	&__header {
        padding-top: 15dvh;
        color: #fff;
        text-shadow: 
        0 0 0.033em #fff, 
        0 0 0.08em #fff, 
        0 0 0.1em #ff7b00,
        0 0 0.2em #ff7b00, 
        0 0 0.3em #ff7b00, 
        0 0 1em #ff7b00, 
        0 0 1.5em #ff7b00;
        font-size: 5rem;
        animation: flicker 5s linear forwards alternate infinite;
        @keyframes flicker {
        0%, 19.999%, 22%, 62.999%,64%, 64.999%, 72%, 100% {opacity: 1;}
        20%, 21.999%, 63%, 63.999%, 65%, 71.999% {opacity: 0.33;}
        }
        }

    &__container {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0rem 1rem;
	}

    &__switch-container {
        display: flex;
        width: 100%;
        height: 25%;
        justify-content: center;
    }

}