.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35%;
    width: 100%;



&__input-div {
    height: 22%;
    width: 92.5%;
    background-color: black;
    border: 2px solid grey;
    border-radius: .25rem;
    color: grey;
    display: flex;
    align-items: center;
    padding: 0rem .5rem;
    &:hover {
    border: 2px solid lightgray;
    box-shadow: 0px 0px 11px rgb(166, 166, 166);
    color: white;
    }
}



&__input {
    height: 90%;
    width: 100%;
    background-color: black;
    color: grey;
    opacity: 1;
    border: none;
    outline: none;
    border-radius: 4px;
    box-sizing: border-box;
    &::placeholder {
        color: grey;
    }
}

&__input:hover {
    &::placeholder {
        color: white;
    }
}

&__rememberme-div {
    display: flex;
    color: grey;
}

&__rememberme-label {
    font-weight: 700;
    font-size: .75rem;
    padding-left: .5rem;
}

&__button {
    font-size:medium;
    font-weight: 600;
    color: grey;
    height: 30%;
    border: 2px solid grey;
    border-radius: .25rem;
    padding: 0.4em;
    background-color: black;
}

&__button:hover {
animation: flicker 1.5s infinite alternate;
border: 2px solid white;
color: white;
box-shadow: 0 0 .2rem #fff,
0 0 .2rem #fff,
0 0 2rem #ff7b00,
0 0 0.8rem #ff7b00,
0 0 2.8rem #ff7b00,
inset 0 0 1.3rem #ff7b00;
@keyframes flicker {
    100% {
        }

    }       
}  
}