@use '../../Styles/Partials/variable' as*;


.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    width: 100%;
    align-items: center;


    &__input-label {
        color: white;
        font-weight: 300;
        font-size: .875rem;
    }


    &__input-div {
        height: 6vh;
        width: 60vw;
        border-radius: .25rem;
        margin-top: .5rem;
        display: flex;
        align-items: center;
        background-color: $PatchGrey;
        box-shadow: 6px 5px 8px 1px rgba(0, 0, 0, 0.3098039216);
        padding: 0rem 1rem;
    }



    &__input {
        font-weight: 300;
        height: 90%;
        width: 100%;
        box-sizing: border-box;
        background-color: $PatchGrey;
        border: none;
        border-radius: .25rem;
        color: white;
        outline: none;

        &::placeholder {
            font-size: 1rem;
            font-weight: 300;
            color: grey;
        }
    }

    &__eye {
        fill: white;
    }

    &__rememberme-div {
        display: flex;
        color: grey;
        margin-left: 2rem;
    }

    &__rememberme-label {
        font-weight: 700;
        font-size: .75rem;
        padding-left: .5rem;
    }

    &__button {
        border-radius: 50px;
        font-weight: 300;
        font-size: 1rem;
        color: white;
        background-color: $PatchOrange;
        border: none;
        height: 6vh;
        width: 55vw;
        margin-top: 1rem;
        box-sizing: border-box;
        box-shadow: 6px 5px 8px 1px rgba(0, 0, 0, 0.3098039216)
    }

}