@use '../../Styles/Partials/variable' as*;
@use '../../Styles/Partials/typography' as*;
@use '../../Styles/Partials/breakpoints' as*;

.user {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    background-color: $PatchMedium-Grey;
    overflow-x: auto;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    &__edit-div {
        background-color: $PatchMedium-Grey;
        border: 2px solid $PatchOrange;
        border-radius: 50%;
        padding: 0.5rem;
        align-self: end;
        box-sizing: border-box;
        width: 6vh;
        display: flex;
        justify-content: center;
    }

    &__edit-icon {
        margin-left: .5rem;
        cursor: pointer;
        fill: $PatchOrange;
    }

    &__background-container {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        height: 22vh;
        width: 100%;
        background-color: grey;
    }

    &__header-background {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
        background-color: #191919;
    }

    &__upload-icon {
        display: flex;
        align-self: center;
        fill: white;
    }

    &__upload-input {
        display: none;
    }

    &__avatar-div {
        display: flex;
        justify-content: space-between;
        height: 10vh;
        width: 100%;
        align-items: center;
    }

    &__info-container {
        display: flex;
        position: absolute;
        width: 100%;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 2rem 2rem 0rem 1rem;
        align-items: center;
    }

    &__avatar {
        width: 4.5rem;
        height: 10vh;
        border: 2px solid $PatchOrange;
        border-radius: 50px;
        object-fit: cover;
        object-position: center;
        background-color: $PatchMedium-Grey;
    }

    &__avatar-empty {
        width: 20vw;
        height: 20vw;
        border-radius: 50px;
        object-fit: cover;
        object-position: center;
        background-color: $PatchMedium-Grey;
        align-items: last baseline;
        justify-content: center;
        display: flex;
    }

    &__avatar-placeholder {
        color: $PatchOrange;
        border-radius: 50px;
    }

    &__name {
        color: $PatchOrange;
        font-weight: bold;

        @include iphone12Pro {
            font-size: 1.25rem;
        }
    }

    &__username {
        font-weight: 300;
        font-size: .75rem;
        color: grey;

        @include iphone12Pro {
            font-size: 1rem;
        }
    }

    &__website-div {
        display: flex;
        align-items: center;
        width: 63%;
    }

    &__website {
        width: 80%;
        color: $PatchOrange;
        font-weight: 300;
        text-decoration: none;
        margin-left: .25rem;
        word-break: break-all;
        white-space: nowrap;
        font-size: .850rem;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__location-div {
        display: flex;
        margin-right: 1rem;
        align-items: center;
    }

    &__location {
        width: 34vw;
        color: grey;
        font-weight: 300;
        word-break: keep-all;
        white-space: normal;
        margin-left: .25rem;
        font-size: .850rem;
        font-weight: bold;
    }

    &__bio {
        font-size: .625rem;
        font-weight: 300;
        color: white;
        padding: .25rem 0rem;
        letter-spacing: 0px;
        width: 100%;
        text-wrap: wrap;
        text-align: justify;

        @include iphone12Pro {
            font-size: .875rem;
        }
    }

    &__stats-container {
        position: absolute;
        z-index: 1;
        top: 9rem;
        height: 70%;
        width: 100%;
        background-color: rgb(31, 31, 31);
        display: flex;
        flex-direction: column;
        padding: 1rem 1.5rem 0rem 1.5rem;
        box-sizing: border-box;
        border-top-left-radius: 1.25rem;
        border-top-right-radius: 1.25rem;
        overflow: auto;

        @include iphone12Pro {
            height: 70vh;
        }
    }

    &__details-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__info-div {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__names {
        display: flex;
        flex-direction: column;
    }

    &__contacts-container {
        display: flex;
        width: 100%;
    }

    &__stats-title {
        color: white;
        font-weight: 300;
        font-size: 1rem;
        margin-left: .25rem;

        @include iphone12Pro {
            font-size: 1.25rem;
        }
    }

    &__stats {
        width: 100%;
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        margin-top: .5rem;
    }

    &__rating-div {
        display: flex;
        align-items: center;
        padding-bottom: .5rem;
        width: 50%;
    }

    &__rating {
        font-size: 1.25rem;
        font-weight: bold;
        color: $PatchOrange;
        padding: 0rem .5rem;
        text-shadow: 0px 0px 11px $PatchOrange;
        animation: flicker 8s linear forwards alternate infinite;

        @keyframes flicker {

            0%,
            19.999%,
            22%,
            62.999%,
            64%,
            64.999%,
            72%,
            100% {
                opacity: 1;
            }

            20%,
            21.999%,
            63%,
            63.999%,
            65%,
            71.999% {
                opacity: 0.33;
            }
        }

        @include iphone12Pro {
            font-size: 1.25rem;
        }
    }



    &__followers-div {
        display: flex;
        align-items: center;
        font-size: .75rem;
        padding-bottom: .5rem;
        width: 50%;
    }

    &__followers {
        font-size: 1.25rem;
        font-weight: bold;
        color: $PatchOrange;
        padding: 0rem .5rem;

        @include iphone12Pro {
            font-size: 1.25rem;
        }
    }

    &__button-div {
        display: flex;
        height: 75%;
        flex-direction: column;
        justify-content: space-between;
    }

    &__button {
        display: flex;
        align-items: center;
        border-radius: 1.25rem;
        font-weight: 300;
        color: $PatchOrange;
        background-color: $PatchGrey;
        border: 1px solid $PatchOrange;
        padding: 0.5rem 1rem;
        box-sizing: border-box;
        box-shadow: 6px 5px 8px 1px rgba(0, 0, 0, 0.3098039216);
        cursor: pointer;
    }

    &__button-link {
        text-decoration: none;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
    }

    &__nav-item {
        font-weight: 300;
        font-size: 1rem;
        color: $PatchOrange;

        &:hover {
            color: rgb(255, 255, 255);
            text-shadow: 0px 0px 11px rgb(166, 166, 166);
        }

        @include iphone12Pro {
            font-size: 1.375rem;
        }
    }

    &__nav-div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1rem;
    }

    &__booking-div {
        display: flex;
        flex-direction: column;
        align-self: flex-end;

    }

}