@use '../../Styles/Partials/typography' as*;

*{
    font-family: 'workingsans';
}

.login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
	height: 100vh;
	
	

	&__header {
        color: #fff;
        text-shadow: 
        0 0 0.033em #fff, 
        0 0 0.08em #fff, 
        0 0 0.1em #ff7b00,
        0 0 0.2em #ff7b00, 
        0 0 0.3em #ff7b00, 
        0 0 1em #ff7b00, 
        0 0 1.5em #ff7b00;
        font-size: 5rem;
        }

        &__flicker {
            animation: flicker 3s linear forwards alternate infinite;
            @keyframes flicker {
            0%, 19.999%, 22%, 62.999%,64%, 64.999%, 72%, 100% {opacity: 1;}
            20%, 21.999%, 63%, 63.999%, 65%, 71.999% {opacity: 0.33;}
            }
        }

    &__subheader-div {
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    &__subheader {
        align-self: start;
        width: 80%;
        color: rgba(255, 255, 255, 0.2);
        font-size: 3rem;
        font-weight: bolder;
        &:hover {
            text-shadow: 0px 0px 11px rgb(166, 166, 166);
            color: white;
            }
    }
        // margin-bottom: -45vw;


	#background-video {
		width: 100vw;
		height: 100%;
		object-fit: cover;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}


    &__container {
        backdrop-filter: blur(10px);
        opacity: .9;
        background: linear-gradient(50deg, #00000082, #000000);
        border-radius: 10px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        padding: 0rem 1rem;
	}


    &__switch-container {
        display: flex;
        width: 100%;
        height: 25%;
        justify-content: space-between;
        align-items: center;
        opacity: .9;
        border-radius: 10px;
        // margin-bottom: -15vw;
    }

    &__button-1 {
        font-weight: bold;
        font-size: 1rem;
        border: none;
        width: 45%;
        height: 90%;
        color: rgba(255, 255, 255, 0.201);
        border: 2px solid rgba(255, 255, 255, 0.201);
        border-radius: .25rem;
        padding: 0.4em;
        background-color: black;
        &:hover {
        animation: flicker 1.5s infinite alternate;
        color: white;
        border: 2px solid white;
        box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #ff7b00,
        0 0 0.8rem #ff7b00,
        0 0 2.8rem #ff7b00,
        inset 0 0 1.3rem #ff7b00;
        @keyframes flicker {
            100% {
                }
        
            }       
        }  
        }

    &__button-2 {
        font-weight: bold;
        font-size: 1rem;
        border: none;
        width: 45%;
        height: 90%;
        color: rgba(255, 255, 255, 0.201);
        border: 2px solid rgba(255, 255, 255, 0.201);
        border-radius: .25rem;
        padding: 0.4em;
        background-color: black;
        &:hover {
        animation: flicker 1.5s infinite alternate;
        color: white;
        border: 2px solid white;
        box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #ff7b00,
        0 0 0.8rem #ff7b00,
        0 0 2.8rem #ff7b00,
        inset 0 0 1.3rem #ff7b00;
        @keyframes flicker {
            100% {
                }
        
            }       
        }  
        }
}