.landingpage {
  background-color: #191919;
  height: 100dvh;
  overflow: auto;
}
.landingpage::-webkit-scrollbar {
  display: none;
}
.landingpage__nav {
  display: flex;
  justify-content: space-between;
  background: black;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
  padding: 1rem 2rem;
  height: 9vh;
}
.landingpage__nav-logo {
  color: #fff;
  text-shadow: 0 0 0.033em #fff, 0 0 0.08em #fff, 0 0 0.1em #ff7b00, 0 0 0.2em #ff7b00, 0 0 0.3em #ff7b00, 0 0 1em #ff7b00, 0 0 1.5em #ff7b00;
  font-size: 1.5rem;
}
.landingpage__nav-buttondiv {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 75%;
}
.landingpage__nav-link {
  width: 30%;
}
.landingpage__nav-signin {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  height: 5vh;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.landingpage__hero {
  width: 100vw;
  background: url("../../Assets/Images/Chlar.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.landingpage__hero-overlay {
  height: 60vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.433);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1rem;
}
.landingpage__hero-overlaycontents {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  box-sizing: border-box;
}
.landingpage__hero-header {
  font-size: 3rem;
  font-weight: bold;
  background: transparent;
  color: white;
  width: 100%;
}
.landingpage__signup-link {
  width: 100%;
  text-decoration: none;
}
.landingpage__cwa-link {
  width: 100%;
  text-decoration: none;
}
.landingpage__cwa-link :hover {
  text-decoration: underline;
  color: #ff7b00;
}
.landingpage__hero-signup {
  text-align: center;
  color: #191919;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  height: 6.5vh;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  background-color: #ff7b00;
  cursor: pointer;
  margin-top: 1rem;
  text-decoration: none;
}
.landingpage__hero-cwa {
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 0.875rem;
  width: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 1rem 0rem 0rem 0rem;
}
.landingpage__hero-cwa :hover {
  color: #ff7b00;
  text-decoration: underline;
}
.landingpage__hero-img {
  filter: brightness(0.5);
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.landingpage__cta-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem 0rem 1rem 0rem;
  box-sizing: border-box;
  padding: 1rem;
}
.landingpage__desc-header {
  font-size: 3rem;
  font-weight: lighter;
  background: transparent;
  color: white;
  width: -moz-min-content;
  width: min-content;
  margin-top: 1rem;
}
.landingpage__desc-subheaderleft {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  text-align: left;
  align-self: flex-end;
}
.landingpage__desc-subheaderright {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  text-align: right;
  align-self: flex-start;
}
.landingpage__desc-span {
  font-size: 3rem;
  font-weight: 400;
  color: #ff7b00;
}
.landingpage__desc {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
}
.landingpage__desc-summary {
  text-align: justify;
  color: white;
  margin-top: 0.5rem;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: -1px;
}
.landingpage__desc-textdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.landingpage__desc-text {
  color: grey;
  font-weight: 300;
  text-align: left;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: -1px;
  width: 70%;
}
.landingpage__footericon-div {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.landingpage__footer {
  display: flex;
  flex-direction: column;
  height: 11vh;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background: black;
  box-sizing: border-box;
  padding: 1rem;
}
.landingpage__footer-text {
  color: grey;
  font-weight: lighter;
  font-size: 0.75rem;
}/*# sourceMappingURL=LandingPage.css.map */