@use '../../Styles/Partials/typography' as*;
@use '../../Styles/Partials/variable' as*;

*{
    font-family: 'worksans';
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: 80%;

&__input-div {
    height: 11%;
    width: 15rem;
    border-radius: .25rem;
    display: flex;        
    align-items: center;
    background-color: $PatchGrey;
    box-shadow: 6px 5px 8px 1px rgba(0, 0, 0, 0.3098039216);
    padding: 0rem 1rem;
}

&__input {
    font-weight: 300;
    height: 90%;
    width: 100%;
    box-sizing: border-box;
    background-color: $PatchGrey;
    border: none;
    border-radius: .25rem;
    color: white;
    outline: none;
    &::placeholder {
        font-size: 1rem;
        font-weight: 300;
        color: grey;
    }
}

&__eye {
    fill: white;
}

&__rememberme-div {
    display: flex;
    color: grey;
}


&__rememberme-label {
    font-weight: 400;
    font-size: .75rem;
    padding-left: .5rem;
}

&__button {
    border-radius: 1.25rem;
    font-weight: 300;
    font-size: 16px;
    color: $PatchOrange;
    background-color: $PatchGrey;
    border: none;
    padding: 1rem 5rem;
    box-sizing: border-box;
    box-shadow: 6px 5px 8px 1px rgba(0, 0, 0, 0.3098039216)
}
}