@use '../../Styles//Partials/mixins' as*;
@use '../../Styles/Partials/variable' as*;
@use '../../Styles/Partials/typography' as*;

*{
    font-family: 'worksans';
}
.homepage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(31, 31, 31, 1);
    

    &__header-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5rem 0rem;
    }

    &__header {
        color: white;
        font-weight: 300;
    }

    &__header-icons {
        fill: grey;
        width: 6vw;
        height: 6vw;
        padding: 0rem 0rem 0rem .5rem;
    }

    &__search-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__avatar {
        width: 14vw;
        height: 14vw;
        border-radius: 50px;
        background-color: $PatchGrey;
        background-image: url('../../Assets/Images/rickytinez.jpeg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__icons-container {
        display: flex;
        justify-content: space-between;
        width: 25%;
    }

    &__search-input {
        @include Inputs;
        height: 12vw;
        width: 100%;
        padding: 0rem 1rem;
    }

    &__search-icon {
        padding-right: 1rem;
        fill: grey;
        height: 8vw;
        width: 8vw;
    }


    &__input-div {
        height: 12vw;
        width: 100%;
        border-radius: .25rem;
        display: flex;
        align-items: center;
        background-color: $PatchGrey;
        box-shadow: 6px 5px 8px 1px rgba(0, 0, 0, 0.3098039216);
        &:hover {
        border: 2px solid lightgray;
        box-shadow: 6px 5px 8px 1px rgba(0, 0, 0, 0.3098039216);
        color: white;
        }
    }


    &__subheader-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20%;
        margin-bottom: .5rem;
    }

    &__heading {
        font-weight: 300;
        color: $PatchOrange;
    }

    &__subheading {
        font-weight: 300;
        font-size: 12px;
        color: white;
    }

    &__select {
        font-weight: 300;
        color: $PatchOrange;
        border-radius: 1.25rem;
        border: none;
        outline: none;
        background-color: $PatchGrey;
    }

    &__select-div {
        text-align: center;
        background-color: $PatchGrey;
        border-radius: 1.25rem ;
        width: 50%;
        padding: .3rem;
        box-shadow: 6px 5px 8px 1px rgba(0, 0, 0, 0.3098039216);
    }

    &__option {
        font-weight: 300;
    }

    &__main-container {
        padding: 1rem 2rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 87%;
    }

    &__container {
        background: rgba(31, 31, 31, 1);
        height: 100vh;
        width: 100%;
        display: flex;
        flex-wrap:wrap ;
        justify-content: space-between;
        overflow-x: auto;
        overflow-y: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__container-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 45%;
        height: 145vh;
    }

    &__container-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 45%;
        height: 145vh;
    }

    &__name {
        color: white;
        font-weight: 300;
        font-size: 12px;
        padding: .5rem 0rem;
        text-align: center;
    }

    // &__artist-div-1 {
    //     border-radius: .625rem;
    //     height: 15%;
    //     width: 100%;
    //     background-color: #ffffff14;
    //     background-position: center;
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     box-shadow: 0px 5px 8px 1px #000000;
    // }
    // &__artist-div-2 {
    //     border-radius: .625rem;
    //     height: 15%;
    //     width: 100%;
    //     background-color: #ffffff14;
    //     background-image: url('../../Assets/Images/JeffMills.jpeg');
    //     background-position: center;
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     box-shadow: 0px 5px 8px 1px #000000;;
    // }
    // &__artist-div-3 {
    //     border-radius: .625rem;
    //     height: 15%;
    //     width: 100%;
    //     background-color: #ffffff14;
    //     background-image: url('../../Assets/Images/Chlar.webp');
    //     background-position: center;
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     box-shadow: 0px 5px 8px 1px #000000;;
    // }
    // &__artist-div-4 {
    //     border-radius: .625rem;
    //     height: 15%;
    //     width: 100%;
    //     background-color: #ffffff14;
    //     background-image: url('../../Assets/Images/ihatemodels.jpeg');
    //     background-position: center;
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     box-shadow: 0px 5px 8px 1px #000000;;
    // }
    // &__artist-div-5 {
    //     border-radius: .625rem;
    //     height: 15%;
    //     width: 100%;
    //     background-color: #ffffff14;
    //     background-image: url('../../Assets/Images/FJAAK.jpeg');
    //     background-position: center;
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     box-shadow: 0px 5px 8px 1px #000000;;
    // }
    // &__artist-div-6 {
    //     border-radius: .625rem;
    //     height: 15%;
    //     width: 100%;
    //     background-color: $PatchOrange;
    //     background-image: url('../../Assets/Images/LocoDice.jpg');
    //     background-position: center;
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     box-shadow: 0px 5px 8px 1px #000000;;
    // }
    // &__artist-div-7 {
    //     border-radius: .625rem;
    //     height: 15%;
    //     width: 100%;
    //     background-color: $PatchOrange;
    //     background-image: url('../../Assets/Images/rebekah.jpeg');
    //     background-position: center;
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     box-shadow: 0px 5px 8px 1px #000000;;
    // }
    // &__artist-div-8 {
    //     border-radius: .625rem;
    //     height: 15%;
    //     width: 100%;
    //     background-color: #ffffff14;
    //     background-image: url('../../Assets/Images/sweely.jpeg');
    //     background-position: center;
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     box-shadow: 0px 5px 8px 1px #000000;;
    // }
    

    // &__nav {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     background-color: $PatchGrey;
    //     height: 18.5vw;
    //     padding: 0rem 1.5rem;
        
    // }

    // &__nav-div {
    //     height: 55%;
    //     display: flex;
    //     flex-direction: column;        
    //     align-items: center;
    // }

    // &__nav-label {
    //     font-size: 12px;
    //     color: grey;
    //     font-weight: 300;
    // }

    // &__nav-icons {
    //     fill: grey;
    //     width: 24px;
    //     height: 40px;
    //     padding-bottom: .1rem;
    // }
    }
