@use '../../Styles//Partials/mixins' as*;
@use '../../Styles/Partials/variable' as*;
@use '../../Styles/Partials/typography' as*;

*{
    font-family: 'worksans';
}
.homepage {
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(31, 31, 31, 1);
    

    &__header-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5rem 0rem;
    }

    &__header {
        color: white;
        font-weight: 300;
    }

    &__header-icons {
        fill: grey;
        width: 6vw;
        height: 6vw;
        padding: 0rem 0rem 0rem .5rem;
    }

    &__search-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__avatar-div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12vw;
        height: 12vw;
        border: 1px solid $PatchOrange;
        border-radius: 50%;
        background-color: $PatchGrey;
    }

    &__avatar-placeholder {
        fill: $PatchOrange;
        border-radius: 20px;
    }

    &__avatar {
        width: 12vw;
        height: 12vw;
        border: 1px solid $PatchOrange;
        border-radius: 50%;
        background-color: $PatchGrey;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }


    &__logo {
        font-size: 8vw;
        color: #fff;
        text-shadow: 
        0 0 0.033em #fff, 
        0 0 0.08em #fff, 
        0 0 0.1em #ff7b00,
        0 0 0.2em #ff7b00, 
        0 0 0.3em #ff7b00, 
        0 0 1em #ff7b00, 
        0 0 1.5em #ff7b00;
        }

        &__flicker {
            animation: flicker 3s linear forwards alternate infinite;
            @keyframes flicker {
            0%, 19.999%, 22%, 62.999%,64%, 64.999%, 72%, 100% {opacity: 1;}
            20%, 21.999%, 63%, 63.999%, 65%, 71.999% {opacity: 0.33;}
            }
        }

    &__icons-container {
        display: flex;
        justify-content: space-between;
        width: 20%;
    }

    &__search-input {
        @include Inputs;
        height: 3rem;
        width: 100%;
        padding: 0rem 1rem;
    }

    &__search-icon {
        padding-right: 1rem;
        fill: grey;
        height: 2rem;
        width: 2rem;
    }


    &__input-div {
        height: 3rem;
        width: 100%;
        border-radius: .25rem;
        display: flex;
        align-items: center;
        background-color: $PatchGrey;
        box-shadow: 6px 5px 8px 1px rgba(0, 0, 0, 0.3098039216);
    }


    &__subheader-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20%;
        margin-bottom: .5rem;
    }

    &__heading {
        font-weight: 300;
        font-size: 2rem;
        color: $PatchOrange;
    }

    &__subheading {
        font-weight: 300;
        font-size: .75rem;
        color: white;
    }

    &__select {
        font-weight: 300;
        color: $PatchOrange;
        border-radius: 1.25rem;
        border: none;
        outline: none;
        background-color: $PatchGrey;
    }

    &__select-div {
        text-align: center;
        background-color: $PatchGrey;
        border-radius: 1.25rem ;
        width: 50%;
        padding: .3rem;
        box-shadow: 6px 5px 8px 1px rgba(0, 0, 0, 0.3098039216);
    }

    &__option {
        font-weight: 300;
    }

    &__main-container {
        padding: 2rem 2rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 87%;
    }

    &__container {
        background: rgba(31, 31, 31, 1);
        height: 100vh;
        width: 100%;
        display: flex;
        flex-wrap:wrap ;
        justify-content: space-between;
        overflow-x: auto;
        overflow-y: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__container-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 45%;
        height: 145vh;
    }

    &__container-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 45%;
        height: 145vh;
    }

    &__name {
        color: white;
        font-weight: 300;
        font-size: .75rem;
        padding: .5rem 0rem;
        text-align: center;
    }
    
    }
