.homepage {


    &__container {
        height: 176vw;
        width: 100vw;
        border: 2px solid red;
        display: flex;
    }

    &__container-1 {
        display: flex;
        flex-direction: column;

    }

    &__container-2 {
        display: flex;
        flex-direction: column;

    }

    &__artist-div {
        border: 2px solid blue;
        border-radius: .625rem;
        height: 50vw;
        width: 50vw;
    }
}