@use '../../Styles/Partials/variable' as*;
@use '../../Styles/Partials/typography' as*;

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $PatchGrey;
    height: 8.5dvh;
    padding: 0rem 1.5rem;



    &__div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 6vh;
    }

    &__label {
        font-size: .75rem;
        color: grey;
        font-weight: 300;
        text-decoration: none;
    }

}