@use '../../Styles/Partials/variable' as*;
@use '../../Styles/Partials/typography' as*;

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $PatchGrey;
    height: 18.5vw;
    padding: 0rem 1.5rem;
    


&__div {
    height: 55%;
    display: flex;
    flex-direction: column;        
    align-items: center;
}

&__label {
    font-size: 12px;
    color: grey;
    font-weight: 300;
    text-decoration: none;
}

&__icons {
    fill: grey;
    width: 6vw;
    height: 6vw;
    padding-bottom: .1rem;
    }
}